## Rails
public/assets/*

## Environment normalisation:
.bundle
vendor/bundle
.git

## log
log
tmp

## OSX
.DS_Store

## docker
.dockerignore
containers

## other
.envrc
.tmuxinator
README.md
README.rdoc
circle.yml
